---
import App from "@/layouts/app.astro"
import lit from "@/assets/lit.svg?raw"
import clover from "@/assets/clover.svg?raw"
import fib from "@/assets/fib.styl?raw"
import Menu from "@/components/Menu/index.astro"
import { getMenu } from "@/utils/server"

const menu = await getMenu("./src/pages")
const base = import.meta.env.BASE_URL
---

<App github="https://github.com/nanarino/nanarinostyl-lit">
    <header>
        <css-doodle>{fib}</css-doodle>

        <nav class="logo">
            <a
                class="logo clover"
                title="nanarinostyl"
                href="https://nanarino.github.io/nanarinostyl/"
                target="_blank"
            >
                <Fragment set:html={clover} />
                <i>nanarinostyl design</i>
            </a>
            <a
                class="logo lit"
                title="lit"
                href="https://lit.dev/"
                target="_blank"
            >
                <Fragment set:html={lit} />
                <i>lit</i>
            </a>
        </nav>
        <h1 class="na-font-mono">nanarinostyl-lit</h1>
        <p>一個nanarinostyl設計語言試作的lit元件合集</p>
    </header>
    <nav class="page">
        <Menu menu={menu} base={base} />
    </nav>
</App>

<style>
    header {
        position: relative;
        width: 100%;
        overflow: hidden;
        user-select: none;
        display: grid;
        gap: 16px;
        align-content: center;
        height: 100vh;

        @supports (height: 100dvh) {
            & {
                height: 100dvh;
            }
        }
    }

    css-doodle {
        position: absolute;
        inset: 0;
    }

    h1,
    p {
        text-align: center;
        margin: 0;
        z-index: 6;
    }

    h1 {
        font-size: 5.5rem;
        font-weight: 400;
    }

    p {
        font-size: 1.5rem;
    }

    nav.logo {
        display: grid;
        grid-template-rows: repeat(2, min-content);
        grid-template-columns: repeat(2, min-content);
        justify-content: center;
        align-content: center;
    }

    a.logo {
        display: inline-flex;
        position: relative;
        border-radius: 50%;

        & i {
            font-size: 0;
        }

        & :global(svg) {
            width: 6em;
            height: 6em;
            padding: 1.5em;
        }
    }

    a.clover :global(path) {
        transition: 0.3s;

        &:hover {
            --pinkpurple-6: var(--lime-6);
            transform: scale(1.05) translate(-12px, -12px);
        }
    }

    a.lit :global(svg) {
        transition: 0.3s;

        &:hover {
            --magenta-5: var(--cyan-3);
            --pinkpurple-5: var(--blue-7);
            --magenta-7: var(--cyan-5);
            --pinkpurple-7: var(--blue-9);
        }
    }

    nav.page {
        padding: 32px;
        background-color: rgb(var(--black));
    }
</style>
